*,
::after,
::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter";
    margin: 1rem;
    background-color: #F0F2F5;
}

section.all{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 1rem;
}

img{
    display: block;
    max-width: 100%;
    aspect-ratio: 1 /1;
    object-fit: cover;
    border-radius: 0.25rem;
    z-index: -10;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    outline: transparent;
    background: transparent;
    border: none;
}

article{
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.35rem;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}

figcaption{
    position: relative;
    color: white;
    font-size: 12px;
}

.wrapping{
    position: absolute;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    align-items:last baseline;
    top: 0;
    left: 0;
    padding: 0.5rem;
}

.labels{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.labels button{
    font-weight: bold;
    border-radius: 3px;
    color: white;
    padding: 0.35rem 0.5rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(40px);
}

.hover-container{
    display: flex;
    gap: 0.5rem;
    justify-content:flex-start;
    align-items: first baseline;
    z-index: 1;

    & p{
        font-size: 10px;
    }
}

.gradient{
    position: absolute;
    width: 100%;
    height: 150px;
    background:linear-gradient(to top, #000000, #00000000);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0 ;
    font-size: 0.85rem;
}

span.year{
    color: #747475;
    font-weight: lighter;
}

header .icon-grp{
    display: flex;
    gap: 0.35rem;
}

.icon-grp svg{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

main{
    margin-top: 1rem;
    display: flex;
    font-size: 9px;
    justify-content: space-between;
    align-items: center;
    color: #747475;
}

.tag-files{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #747475;
    gap: 4px;
}

.tag-files p{
    padding: 2px 6px;
    border: 1px solid #939395;
    border-radius: 50px;
}

footer{
    margin-top: 0.85rem;
}

footer .btn-count{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4px;
}

.btn-count button{
    background-color: #dedede;
    padding: 0.35rem 0.25rem;
    color: #4c4c4c;
    border-radius: 3px;
    font-size: 10px;
    flex: 1;
}

/* .btn-count > *{
    min-width: fit-content;
    flex: 1;
} */
.btn-count .small-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.btn-count svg{
    width: 16px;
    height: 16px;
    vertical-align:middle;
}
a{
    text-decoration: none;
    text-align: center;
}
a.dots{
    width:1rem;
    min-height: fit-content;
    background:none;
}
