*,
::after,
::before{
    box-sizing: border-boxd;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter";
    width: 100vw;
    background: transparent;
    
    /* Having vh and vw makes the layout responsive on any device */
}

.buddle{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    min-height: 100vh;
    margin: 0.5rem;
}

main.content{
    flex: 1;
}

footer{
    background-color: #f1f1f1;
    text-align: center;
    padding: 1rem 0;
}

header{
    display: flex;
    background-color: yellowgreen;
    justify-content: space-between;
    align-items: center;
}
header .search-grp{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(211, 211, 211);
    padding: 0.35rem 0.5rem;
    gap: 0.5rem;
}

header input{
    outline: transparent;
    border: none;
    background: none;
}