*,
::after,
::before{
    box-sizing: border-boxd;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter";
    min-height: 100vh;
    width: 100vw;
    background: transparent;

    /* Having vh and vw makes the layout responsive on any device */
}