*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn{
    display: flex;
    align-items: center;
}

:root {
    --bg-color: #2e2e2e;
    --menu-bg: #1e1e1e;
    --text-color: #f0f0f0;
    --secondary-text: #a0a0a0;
    --hover-bg: #333333;
    --separator-color: #444;
    --delete-color: #ff4d4d;
    --link-color: #4ea1ff;
    --border-color: #555;
    --border-radius: 6px;
    --border-width: 1px;
    --border-style: solid;
}

body{
    font-family: 'Inter';
    background-color: var(--bg-color);
    color: var(--text-color);
    list-style: none;
    text-decoration: none;
}

.bundle{
    min-height: 100svh;
    display: flex;
    width: 100%;
}

.colored-username{
    background: #FFFFFF;
    background: linear-gradient(to right, #FFFFFF 0%, #419AFF 51%, #ff455b 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;   
    font-weight: 600;
    font-size: large;
}

.sidebar{
    flex-basis: 15rem;
    background:var(--menu-bg);
    display: flex;
    flex-direction: column;
}

.close-sidebar{
    margin-right: 12px;
}

.main-container{
    flex-grow: 1;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0.5rem;
}

a{  color: inherit; text-decoration: none;}

svg{
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.sidebar-nav{
    font-size: 11pt;
}

/* Sidebar Buttons */
.sidebar-items{
    display:flex;
    align-items: center;
    gap: 0.5rem;
    width: 15rem;
    padding: 0.75rem 0.85rem;
    transition: background-color 0.2s;
}

.sidebar-items:hover{
    background-color: var(--hover-bg);
}

.sidebar-items.active{
    background-color: var(--hover-bg);
}

.line-seperator{
    height: 1px;
    background: var(--separator-color);
    margin: 8px 0;
}

.sidebar-footer{
    margin-top: auto;
    margin-bottom: 8px;
}



/* ========================== MAIN HEADER */
.main-header{
    margin-top: 8px;
    width: 100%;
    padding: 0.35rem 2rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.username{
    line-height: 1.5;
    width: 350px;
}

.left-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.create-btn{
    color: var(--secondary-text);
    font-size: 11pt;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 0.5rem;
    background-color: var(--menu-bg);
    padding: 0.75rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    outline: 1px solid rgba(197, 197, 197, 0.5);
    box-shadow: 0 0 0 2px rgb(255 255 255 / 10%);
    transition: all 0.3s ease;
}

.create-btn:hover{
    color: var(--text-color);
    box-shadow: 0 0 0 1px var(--text-color);
    text-shadow: 0px 0px 10px black;

    svg{
        color: var(--text-color);
    }
}

.profile{
    position: relative;
}

.user-dropdownmenu{
    position: absolute;
    right: 0;
    left: 0.1;
    margin: 0.5rem 0;
    background-color: var(--menu-bg);
    padding: 0.5rem 0;
    font-size: 11pt;
    width: 12rem;
    border-radius: 0.25rem;
    z-index: 100;
    transform-origin:right top;
    transition: transform 0.2s ease, opacity 0.2s ease, scale 0.2s ease;
}

.user-dropdownmenu.hidden{
    display:none;
}

.user-dropdownmenu.opa-0{
    opacity: 0;
}

.user-dropdownmenu.scale-95{
    transform: scale(0.95);
}

.user-dropdownmenu.opa-100{
    opacity: 1;
}

.user-dropdownmenu.scale-100{   
    transform: scale(1);
}

.downmenu-btn{
    display: block;
    padding: 0.5rem;
    transition: background-color 0.2s ease;
}

.downmenu-btn:hover{
    background-color: var(--hover-bg);
    cursor: pointer;
}

.profile button{
    cursor: pointer;
    background-color: transparent;
    outline: transparent;
    border: none;
    background-color: var(--separator-color);
    padding: 0.75rem;
    border-radius: 4px;

    & svg{
        color: var(--text-color);
        stroke-width: 2;
    }
}

/* ================= TASK FEED */
.feed{
    padding: 0rem 2rem;
    margin-top: 2rem;
}

.condition-tag{
    font-size: 14pt;
}

/* ================= TAB and Panels */
.tab-container{
    margin-top: 1.5rem;
}

.tab-nav{
    display: flex;
    /* border-bottom: 1px solid linear-gradient(to right, black, rgba(0, 0, 0, 0.126)); */
    justify-content: space-between;
    align-items: center;
}

.gradient-seperator{
    height: 1px;
    background: linear-gradient(to right, 
    var(--separator-color), 
    rgb(0 0 0 / 0 ));
}

.tab-btn{
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    color: var(--secondary-text);
    cursor: pointer;
    position: relative;
    transition: color 0.2s;
}

.tab-btn:hover{
    color: var(--text-color);
}

.tab-btn.active{
    color: var(--text-color);
    font-weight: 500;
}

.tab-btn.active::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    transition: all 0.2s ease;
}

.tab-content{
    margin-top: 1rem;
    line-height: 1.5;
}

.tab-panel {
    padding-top: 1rem;
    display: none; 
    width: 100%;
}

.tab-panel[hidden]{
    display: none;
}

.tab-btn:not(.active):hover {
    color: var(text);
}

.tab-panel.active{
    display: block;
}

.corner-tab-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.cor-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 0.35rem;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    outline: none;
    /* border: 1px solid var(--secondary-text); */
    border: none;
    border-radius: 6px;
    background-color: transparent;
    color: var(--secondary-text);
    cursor: pointer;
    transition: color 0.2s ease, border-color 0.2s ease;
    box-shadow: 0 0 0 1px var(--secondary-text);

    & svg{
        width: 18px;
        height: 18px;
        vertical-align: center;
    }
}

.cor-btn:hover{
    color: var(--text-color);
    box-shadow: 0 0 0 1px var(--text-color);

    svg{
        color: var(--text-color);
    }
}

/* ================= Main FOOTER */
.main-footer{
    background-color: var(--menu-bg);
    padding: 0.75rem 0.5rem;
    text-align: center;
}

/* =========================================== RECENT activity feed */

.recently-opened-tag{
    margin: 1rem 0;
    color: var(--secondary-text);
    font-size: 10pt;

    & svg{
        width: 16px;
        height: 16px;
        vertical-align: middle;
        margin-right: 6px;
    }
}

.recently-feed{
    display: grid;
    justify-content: start;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, 20rem);
    width: 100%;
}

.recent-items{
    display: flex;
    flex-direction: column;
    background-color: var(--menu-bg);
    width: 20rem;
    border-radius: 13.5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    /* border: 1px solid var(--border-color); */
}

.recent-tab-header, .card-timeline{
    justify-content: space-between;
    padding: 0.75rem;

    svg{
        color: var(--secondary-text) ;
    }
}

.card-timeline{
    margin-top: auto;
    border-top: 1px solid var(--bg-color);

}

.category-name, .timedate-recent{
    color: var(--border-color);
    font-size: 11pt;

    svg{
        width: 15px;
        height: 15px;
        vertical-align: middle;
        margin-right: 4px;
        color: var(--border-color);
    }
}

.card-title{
    font-size: 14pt;
    color: var(--secondary-text);
    padding-inline: 0.75rem ;
    margin-bottom: 14px;
}

.line-seperator-recent{
    height: 1px;
    background-color: var(--separator-color);
    margin: 0.25rem 0;
}

.view-task-btn{
    justify-content: center;
    gap: 0.35rem;
    padding: 0.45rem;
    font-size: 10pt;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    color: var(--secondary-text);
    cursor: pointer;
    transition: color 0.2s ease, border-color 0.2s ease;
    box-shadow: 0 0 0 1px var(--separator-color);

    svg{
        width: 14px;
        height: 14px;
        vertical-align: middle;
    }
}

.view-task-btn:hover{
    color: var(--text-color);
    box-shadow: 0 0 0 1px var(--text-color);

    svg{
        color: var(--text-color);
    }
}

.white{
    color: white;
}

.notwhite{
    color: var(--text-color);
}

.dot-holder{
    cursor: pointer;
    position: relative;
}

.dot-menu{
    position: absolute;
    left:0;
    margin: 10px;
    background-color: var(--menu-bg);
    padding: 0.375rem 0;
    box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.1);
    border: 1px solid var(--border-color);
    border-radius: 10px ;
    width: 8rem;
    font-size: 10pt;
    color: var(--secondary-text);
    transform-origin: top left ;
    transition: transform 0.2s ease, opacity 0.2s ease-in-out, scale 0.2s ease-in-out;

    svg{
        width: 14px;
        height: 14px;
        vertical-align: middle;
        margin-right: 4px;
    }
}

.dot-items{
    padding: 0.375rem;
}

.dot-items:hover{
    background-color: var(--hover-bg);
}

.dot-items.delete{
    color: var(--delete-color);

    svg{
        color: var(--delete-color);
    }
}

.dot3-btn{
    border: none;
    outline: transparent;
    background: none;
}

.line-seperator.dot{ margin: 6px 0; }
.dot-menu.hidden{ display: none;}
.dot-menu.opa-0{  opacity: 0;}
.dot-menu.opa-100{ opacity: 1;}
.dot-menu.scale-95{ transform: scale(0.95);}
.dot-menu.scale-100{ transform: scale(1);}