*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #2e2e2e;
    --menu-bg: #1e1e1e;
    --text-color: #f0f0f0;
    --secondary-text: #a0a0a0;
    --hover-bg: #333333;
    --separator-color: #444;
    --delete-color: #ff4d4d;
    --link-color: #4ea1ff;
    --border-color: #555;
    --border-radius: 6px;
    --border-width: 1px;
    --border-style: solid;
}

body{
    font-family: 'Inter';
    background-color: var(--bg-color);
    color: var(--text-color);
    list-style: none;
    text-decoration: none;
}

.bundle{
    min-height: 100svh;
    display: flex;
    width: 100%;
}

.sidebar{
    flex-basis: 15rem;
    background:var(--menu-bg);
    display: flex;
    flex-direction: column;
}

.close-sidebar{
    margin-right: 12px;
}

.main-container{
    flex-grow: 1;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0.5rem;
}

a{  color: inherit; text-decoration: none;}

svg{
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.sidebar-nav{
    font-size: 11pt;
}

/* Sidebar Buttons */
.sidebar-items{
    display:flex;
    align-items: center;
    gap: 0.5rem;
    width: 15rem;
    padding: 0.75rem 0.5rem;
    transition: background-color 0.2s;
}

.sidebar-items:hover{
    background-color: var(--hover-bg);
}

.line-seperator{
    height: 1px;
    background: var(--separator-color);
    margin: 8px 0;
}

.sidebar-footer{
    margin-top: auto;
    margin-bottom: 8px;
}



/* ========================== MAIN HEADER */
.main-header{
    margin-top: 8px;
    width: 100%;
    padding: 0rem 2rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.username{
    line-height: 1.5;
    width: 350px;
}

.left-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.create-btn{
    font-size: 11pt;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 0.5rem;
    background-color: var(--menu-bg);
    padding: 0.75rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.profile button{
    cursor: pointer;
    background-color: transparent;
    outline: transparent;
    border: none;
    background-color: var(--separator-color);
    padding: 0.75rem;
    border-radius: 4px;

    & svg{
        color: var(--text-color);
        stroke-width: 2;
    }
}

/* ================= TASK FEED */
.feed{
    padding: 0rem 2rem;
    margin-top: 2rem;
}

.condition-tag{
    font-size: 16pt;
}

/* ================= TAB and Panels */
.tab-container{
    margin-top: 1.5rem;
}

.tab-nav{
    display: flex;
    /* border-bottom: 1px solid linear-gradient(to right, black, rgba(0, 0, 0, 0.126)); */
    justify-content: space-between;
    align-items: center;
}

.gradient-seperator{
    height: 1px;
    background: linear-gradient(to right, 
    var(--separator-color), 
    rgb(0 0 0 / 0 ));
}

.tab-btn{
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    color: var(--secondary-text);
    cursor: pointer;
    position: relative;
    transition: color 0.2s;
}

.tab-btn:hover{
    color: var(--text-color);
}

.tab-btn.active{
    color: var(--text-color);
    font-weight: 500;
}

.tab-btn.active::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
}

.tab-content{
    margin-top: 1rem;
    line-height: 1.5;
}

.tab-panel {
    padding-top: 1rem;
    display: none; 
    width: 100%;
}

.tab-panel[hidden]{
    display: none;
}

.tab-btn:not(.active):hover {
    color: var(text);
}

.tab-panel.active{
    display: block;
}

.corner-tab-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.cor-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 0.35rem;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid var(--secondary-text);
    border-radius: 6px;
    background-color: transparent;
    color: var(--secondary-text);
    cursor: pointer;
    transition: color 0.2s ease, border-color 0.2s ease;

    & svg{
        width: 18px;
        height: 18px;
        vertical-align: center;
    }
}

.cor-btn:hover{
    color: var(--text-color);
    border-color: var(--text-color) ;
}

/* ================= Main FOOTER */
.main-footer{
    background-color: var(--menu-bg);
    padding: 0.75rem 0.5rem;
    text-align: center;
}