*,
*::after,
*::before{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

.bundle{
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    width: 100%;
}

header{
    background-color: rgb(224, 224, 224);
    padding: 0.75rem;
    text-align: center;
    color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.links{
    color: #222222;
    text-decoration: none;
    margin: 0 10px;
}

a{  color: inherit; text-decoration: none;  }

.screen{
    display: flex;
}

aside{
    flex-basis: 220px;
    background-color: lightblue;
    padding: 10px;
}

main{
    flex: 1;
    display: grid;
    grid-template-rows: 1fr auto;
    width: 100%; 
}

section{
    padding: 10px;
}

img{
    max-width: 100%;
    display: block;
    object-fit: contain;
}