<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="bundle">
        <header>
            <nav>
                <a href="">Home</a>
                <a href="">Something</a>
                <a href="">Create</a>
                <a href="">Cookies</a>
                <a href="">Done</a>
            </nav>
        </header>
        <div class="screen">
            <aside>
                THIS IS ASIDE
            </aside>
            <main>
                THIS IS MAIN
            </main>
        </div>
        <footer>
            FOOTER THIS IS
        </footer>
    </div>
</body>
</html>