<!DOCTYPE html>
<html lang="en">
<head>
    <title>Something</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/style.css">
</head>
<body>
    <div class="bundle">
        <header>
            <div class="logo">
                SH.
            </div>
            <nav>
                <a href="" class="links">Home</a>
                <a href="" class="links">Service</a>
                <a href="" class="links">Cookies</a>
                <a href="" class="links">Help</a>
            </nav>
            <div class="header-profile">
                <div class="profile">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-icon lucide-user"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
                </div>
                <div class="user-menu">

                    <div class="up-menu">
                        <a href="">Profile</a>
                        <a href="">Settings</a>
                        <a href="">Theme</a>
                        <a href="">Upgrade</a>
                        <a href="">Notification</a>
                    </div>
                    <div class="down-menu">
                        <a href="">Help Center</a>
                        <a href="">Log-out</a>
                    </div>
                </div>
            </div>
        </header> 
        <div class="screen">
            <aside>
                SIDEBAR
            </aside>
            <main>
                <section>
                    <img src="https://occ-0-8407-92.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABdnsiMcyVg5KoDsNj5NN-eLuCR3PVmF0MQ02GwsR4w9_fFtUyW1PFmby1eYvUs9eqv-kN-QQsV4ygmajmPZfHKaWuBZIY3Y-0h06.jpg?r=25d" alt="">
                </section>
                <footer>
                    this is footer
                </footer>
            </main>
        </div>
    </div>
</body>
</html>